$s-add : 0px 109px 0px -109px 13px 13px 39px 1173px '../img/sprite.png';
$s-call : 0px 475px 0px -475px 36px 30px 39px 1173px '../img/sprite.png';
$s-cancel : 0px 0px 0px 0px 9px 9px 39px 1173px '../img/sprite.png';
$s-chat : 0px 736px 0px -736px 39px 33px 39px 1173px '../img/sprite.png';
$s-check-green : 0px 869px 0px -869px 35px 33px 39px 1173px '../img/sprite.png';
$s-check-red : 0px 1002px 0px -1002px 35px 33px 39px 1173px '../img/sprite.png';
$s-how1 : 0px 605px 0px -605px 21px 31px 39px 1173px '../img/sprite.png';
$s-how2 : 0px 222px 0px -222px 24px 24px 39px 1173px '../img/sprite.png';
$s-how3 : 0px 1135px 0px -1135px 26px 38px 39px 1173px '../img/sprite.png';
$s-how4 : 0px 346px 0px -346px 29px 29px 39px 1173px '../img/sprite.png';
